
.btn{
	@include large-text;
	border-radius: 5px;
	line-height: 1.5px;
	background-color: $purple;
	color:$red;
	border-color: $green;
	padding:10px;
	height: 32px;
	width: 120px;
}

.btn-reverse{
	@extend .btn;
	color:$green;
	background-color:  $red;
}

