@import 'https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Open+Sans|Roboto+Slab|Sigmar+One';

/**Create Variables*/
$dark_red: #C45959;	
$more_dark_red : darken($dark_red,10);
$less_dark_red : lighten($dark_red,5);
$green: #0B7A21;	
$purple: #494196;	
$red: #F2053C;	

$openSans:'Open Sans', 'Heveletica',sans-serif;
$robotoSlab:'Roboto Slab', serif;
$sigmarOne:'Sigmar One', cursive;
$gloriaHallelujah:'Gloria Hallelujah', cursive;


$font_headers:$sigmarOne;